name: releaser

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  releaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: Run apt-ftparchive
        working-directory: dist
        run: |
          apt-ftparchive packages . > Packages && \
          apt-ftparchive release . > Release
      - name: Sign Release
        working-directory: dist
        run: |
          gpg -abs -o Release.gpg Release &&
          gpg --clearsign -o InRelease Release
      - name: Upload Packages and Release manually
        uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        with:
          asset_paths: '[ "./dist/Packages", "./dist/*Release*" ]'
